# The bot token to use for authentication
token: ""

# Your user ID
owner_id: 0

# The ID of your server
server_id: 0

# Channel IDs to make use of
channels:
  # Channel for bot commands
  bot_commands: 0

  # Channel for bot to output logs to
  bot_logs: 0

  # Channel for users to verify themselves in
  checkpoint: 0

  # Information channel
  info: 0

# List of staff channels
staff_channels:
  - 0

colours:
  journeymap_green: 0x169718

# Titles to use in generated embeds
embed_titles:
  # Titles to use when an operation is successful
  negative_titles:
    - Absolutely not
    - How about no
    - I don't have time for this
    - I'm sorry, Dave
    - Nope, not gonna happen
    - Not even once
    - Not in this reality
    - Not this time, friendo
    - There's a time and place for everything
    - You're not my mom

  # Titles to use when an operation can't be actioned
  positive_titles:
    - Affirmative
    - As the prophecy foretold
    - Caaaaan do
    - Eh, might as well
    - Gotcha
    - I don't see why not
    - No problem
    - Okay, but only because I like you
    - Right on
    - Sounds good to me

# List of role IDs required for operation
roles:
  # Server owners
  owners: 0

  # Regular staff members
  admins: 0
  moderators: 0

  # Staff bots
  bots: 0

  # Users that have subscribed to announcements
  announcements: 0

  # Muted users
  muted: 0

  # Users that have verified themselves
  verified: 0
